body {
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  height: 100%;
}

/* to overwrite the bootstrap settings of "container-class" --> to make the boxes wide as the window and have no padding on the egdes left and right*/
.container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}
.border {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

#winter-box {
  background-image: url("../img/winter_eli.jpg");
  background-size: cover;
}

#summer-box {
  background-image: url("../img/summer_sam.jpg");
  background-size: cover;
}

#tops-box {
  background-image: url("../img/tops.jpg");
  background-size: cover;
  background-position: center;
}

#dresses-box {
  background-image: url("../img/dresses_2.jpg");
  background-size: cover;
  background-position: center;
}

#bottoms-box {
  background-image: url("../img/bottoms.jpg");
  background-size: cover;
  background-position: center;
}

#material-box {
  background-image: url("../img/material_leinen.jpg");
  background-size: cover;
  background-position: center;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

a:hover {
  cursor: pointer;
  font-size: 250%;
  color: pink;
}

#about-page {
  background-image: url("../img/wald.jpg");
  background-size: cover;
  background-position: bottom;
}

/* .about-box {
  max-width: 800px;
} */

.about-section {
  background-color: rgba(255, 255, 255, 0.65);
  max-width: 800px;
}

@media (max-width: 576px) {
  .heading {
    text-align: center;
  }
  h2 {
    font-size: smaller;
  }
  .border {
    height: 300px;
  }
  html,
  body {
    height: auto;
  }
}
